body {
    background-color: black;
    color: #FFFF;
    font-family: 'Overpass', sans-serif;  
}

#block1 {
    display: flex;
    justify-content: center;

}

#star-div {
    display: flex;  
    background-color: hsl(213, 19%, 18%);
    border-radius: 80%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    
}

#star-img {
    width: 40%;
    height: 40%;
}

.caixa-avaliacao {
    
    border-radius: 8%;
    max-width: 90%;
    max-height: 90%;
    margin: 5%;
    padding: 10%;
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%)); 
}

#subtitle1 {
    color: hsl(217, 12%, 63%);
    font-size: 0.88em;
    line-height: 150%;
    margin: 10% 0%;
}

#div-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    
} 

.buttons {
    border-radius: 80%;
    width: 40px;
    height: 40px;
    background-color: hsl(213, 19%, 18%);
    border-style: none;
    color: hsl(217, 12%, 63%);
    
}

.ativado {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.buttons:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);;
    cursor: pointer;
}

#div-submit {
    height: 40px;
    display: flex;
    justify-content: center;
}

#submit {
    border-radius: 62px;
    background-color: hsl(25, 97%, 53%);
    border-style: none;
    width: 100%;
    padding: 3%;
    color: hsl(0, 0%, 100%);
    letter-spacing: 3px;
    font-size: 0.6em;
    font-weight: 700;
}

#submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}