body {
    background-color: black;
    color: #FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#star-div {
    display: flex;
    background-color: aliceblue;
    border-radius: 80%;
    width: 6%;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#star-img {
    width: 70%;
    height: 70%;
}

.caixa-avaliacao {
    border-radius: 8%;
    max-width: 50%;
    max-height: 100%;
    margin: 20% 35%;
    padding: 2%;
    background-color: rgb(39, 36, 37);
}